{% import "_includes/forms" as forms %}

<div class="field">
  <div class="heading">
    <label>Limit the amount of selectable colours per image</label>
    <div class="instructions">
      <p>Up to five colours can be selected and prioritised. If you have a prefered limit for the number of selectable colours, define that here.</p>
    </div>
  </div>
  <div class="input ltr">
    <input type="range" name="rangeInput" min="1" max="5" value="{{settings.limit}}">                                                       
    <output>{{settings.limit}}</output>
  </div>
</div>

{% set js %}
  $(function(){
    $('input[type=range]').on('change', function(){
      $('#types-Mop_Vibrant-limit').val(this.value);
      $(this).siblings('output').text(this.value);
    });
  });
{% endset %}
{% includeJs js %}


{{ forms.hidden({
  id: 'limit',
  name: 'limit',
  value: settings.limit
}) }}